<nav class="breadcrumb is-small" aria-label="breadcrumbs">
  <ul>
    <li><a href="/">Home</a></li>
    <li class="is-active"><a href="#" aria-current="page"><%= menuTitle %></a></li>
  </ul>
</nav>

<div class="level mt-2 mr-2 content-title">
  <div class="level-left">
    <div class="level-item">
      <div class="title has-text-primary">
				<span class="icon is-small icon-title">
					<i class="fa <%= menuIcon %>"></i>
				</span>
				<span><%= menuTitle %></div></span>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item">
      <button type="button" class="button is-small">March 8, 2017 - April 6, 2017</button>
    </div>
  </div>
</div>
