<footer class="copyright" id="copyright">
	Copyright 2019-<span id="current-year">2021</span>, <a href="https://mazipan.space/" target="_blank" rel="noopener noreferrer">Irfan Maulana</a>. All right reserved.
</footer>
