<!DOCTYPE html>
<html lang="en">
  <head>
    <% include /metaTags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.22.0/apexcharts.min.css" />
  </head>

  <body>
    <% include /header %>

    <div class="wrapper">
			<%- include('/sidebar', {activeMenu: 'presentations'}) %>

			<main class="main" id="main">
				<%- include('/breadcrumb', {menuTitle: 'Presentations', menuIcon: 'fa-bar-chart'}) %>

				<div class="columns is-multiline">
					<div class="column is-6">
						<article class="message is-dark">
							<div class="message-header">
								<p>Chart</p>
							</div>
							<div class="message-body">
								<div id="chartLine" style="width: 100%"></div>
							</div>
						</article>
					</div>
					<div class="column is-6">
						<article class="message is-dark">
							<div class="message-header">
								<p>Chart</p>
							</div>
							<div class="message-body">
								<div id="chartScatter" style="width: 100%"></div>
							</div>
						</article>
					</div>
					<div class="column is-6">
						<article class="message is-dark">
							<div class="message-header">
								<p>Chart</p>
							</div>
							<div class="message-body">
								<div id="chartDoughnut" style="width: 100%"></div>
							</div>
						</article>
					</div>
					<div class="column is-6">
						<article class="message is-dark">
							<div class="message-header">
								<p>Chart</p>
							</div>
							<div class="message-body">
								<div id="chartBar" style="width: 100%"></div>
							</div>
						</article>
					</div>
				</div>

				<% include /horizontalAds %>
				<% include /copyright %>
			</main>
    </div>

    <% include /jsonLd %>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.22.0/apexcharts.min.js"></script>
    <script defer src="<%= data.config.publicPath %>/js/module-chart.js"></script>
  </body>
</html>
