<!DOCTYPE html>
<html lang="en">
  <head>
    <% include /metaTags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.22.0/apexcharts.min.css" />
  </head>

  <body>
    <% include /header %>

    <div class="wrapper">
      <div class="columns">
        <%- include('/sidebar', {activeMenu: 'presentations'}) %>

        <main class="column main">
          <nav class="breadcrumb is-small" aria-label="breadcrumbs">
            <ul>
              <li><a href="#">Home</a></li>
              <li class="is-active"><a href="#" aria-current="page">Presentations</a></li>
            </ul>
          </nav>

          <div class="level">
            <div class="level-left">
              <div class="level-item">
                <div class="title">Presentations</div>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <button type="button" class="button is-small">March 8, 2017 - April 6, 2017</button>
              </div>
            </div>
          </div>

          <div class="columns is-multiline">
            <div class="column is-6">
              <article class="message is-dark">
                <div class="message-header">
                  <p>Chart</p>
                </div>
                <div class="message-body">
                  <div id="chartLine" style="width: 100%"></div>
                </div>
              </article>
            </div>
            <div class="column is-6">
              <article class="message is-dark">
                <div class="message-header">
                  <p>Chart</p>
                </div>
                <div class="message-body">
                  <div id="chartScatter" style="width: 100%"></div>
                </div>
              </article>
            </div>
            <div class="column is-6">
              <article class="message is-dark">
                <div class="message-header">
                  <p>Chart</p>
                </div>
                <div class="message-body">
                  <div id="chartDoughnut" style="width: 100%"></div>
                </div>
              </article>
            </div>
            <div class="column is-6">
              <article class="message is-dark">
                <div class="message-header">
                  <p>Chart</p>
                </div>
                <div class="message-body">
                  <div id="chartBar" style="width: 100%"></div>
                </div>
              </article>
            </div>
          </div>
        </main>
      </div>
    </div>

    <% include /jsonLd %>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.22.0/apexcharts.min.js"></script>
    <script defer src="<%= data.config.publicPath %>/js/module-chart.js"></script>
  </body>
</html>
