<!DOCTYPE html>
<html lang="en">
  <head>
    <% include /metaTags %>
  </head>

  <body>
    <% include /header %>

    <div class="wrapper">
			<%- include('/sidebar', {activeMenu: 'tables'}) %>

			<main class="main" id="main">
				<%- include('/breadcrumb', {menuTitle: 'Tables', menuIcon: 'fa-table'}) %>

				<div class="columns is-multiline">
					<div class="column">
						<table class="table is-bordered is-striped is-narrow is-fullwidth">
							<thead>
								<tr>
									<th><abbr title="Position">Pos</abbr></th>
									<th>Team</th>
									<th><abbr title="Played">Pld</abbr></th>
									<th><abbr title="Won">W</abbr></th>
									<th><abbr title="Drawn">D</abbr></th>
									<th><abbr title="Lost">L</abbr></th>
									<th><abbr title="Goals for">GF</abbr></th>
									<th><abbr title="Goals against">GA</abbr></th>
									<th><abbr title="Goal difference">GD</abbr></th>
									<th><abbr title="Points">Pts</abbr></th>
									<th>Qualification or relegation</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th><abbr title="Position">Pos</abbr></th>
									<th>Team</th>
									<th><abbr title="Played">Pld</abbr></th>
									<th><abbr title="Won">W</abbr></th>
									<th><abbr title="Drawn">D</abbr></th>
									<th><abbr title="Lost">L</abbr></th>
									<th><abbr title="Goals for">GF</abbr></th>
									<th><abbr title="Goals against">GA</abbr></th>
									<th><abbr title="Goal difference">GD</abbr></th>
									<th><abbr title="Points">Pts</abbr></th>
									<th>Qualification or relegation</th>
								</tr>
							</tfoot>
							<tbody>
								<tr>
									<th>1</th>
									<td>
										<a href="https://en.wikipedia.org/wiki/Leicester_City_F.C." title="Leicester City F.C."
											>Leicester City</a
										>
										<strong>(C)</strong>
									</td>
									<td>38</td>
									<td>23</td>
									<td>12</td>
									<td>3</td>
									<td>68</td>
									<td>36</td>
									<td>+32</td>
									<td>81</td>
									<td>
										Qualification for the
										<a
											href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Champions_League#Group_stage"
											title="2016–17 UEFA Champions League"
											>Champions League group stage</a
										>
									</td>
								</tr>
								<tr>
									<th>2</th>
									<td><a href="https://en.wikipedia.org/wiki/Arsenal_F.C." title="Arsenal F.C.">Arsenal</a></td>
									<td>38</td>
									<td>20</td>
									<td>11</td>
									<td>7</td>
									<td>65</td>
									<td>36</td>
									<td>+29</td>
									<td>71</td>
									<td>
										Qualification for the
										<a
											href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Champions_League#Group_stage"
											title="2016–17 UEFA Champions League"
											>Champions League group stage</a
										>
									</td>
								</tr>
								<tr>
									<th>3</th>
									<td>
										<a href="https://en.wikipedia.org/wiki/Tottenham_Hotspur_F.C." title="Tottenham Hotspur F.C."
											>Tottenham Hotspur</a
										>
									</td>
									<td>38</td>
									<td>19</td>
									<td>13</td>
									<td>6</td>
									<td>69</td>
									<td>35</td>
									<td>+34</td>
									<td>70</td>
									<td>
										Qualification for the
										<a
											href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Champions_League#Group_stage"
											title="2016–17 UEFA Champions League"
											>Champions League group stage</a
										>
									</td>
								</tr>
								<tr class="is-selected">
									<th>4</th>
									<td>
										<a href="https://en.wikipedia.org/wiki/Manchester_City_F.C." title="Manchester City F.C."
											>Manchester City</a
										>
									</td>
									<td>38</td>
									<td>19</td>
									<td>9</td>
									<td>10</td>
									<td>71</td>
									<td>41</td>
									<td>+30</td>
									<td>66</td>
									<td>
										Qualification for the
										<a
											href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Champions_League#Play-off_round"
											title="2016–17 UEFA Champions League"
											>Champions League play-off round</a
										>
									</td>
								</tr>
								<tr>
									<th>5</th>
									<td>
										<a href="https://en.wikipedia.org/wiki/Manchester_United_F.C." title="Manchester United F.C."
											>Manchester United</a
										>
									</td>
									<td>38</td>
									<td>19</td>
									<td>9</td>
									<td>10</td>
									<td>49</td>
									<td>35</td>
									<td>+14</td>
									<td>66</td>
									<td>
										Qualification for the
										<a
											href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Europa_League#Group_stage"
											title="2016–17 UEFA Europa League"
											>Europa League group stage</a
										>
									</td>
								</tr>
							</tbody>
						</table>

						<a class="button is-primary">
							<span class="icon is-small"> <i class="fa fa-plus"></i> </span><span>Add New Data</span></a
						>

						<table class="table is-bordered is-striped is-narrow is-fullwidth mt-4">
							<thead>
								<tr>
									<th class=""><abbr title="Group">Grup</abbr></th>
									<th class=""><abbr title="Name">Name</abbr></th>
									<th><abbr title="City">City</abbr></th>
									<th><abbr title="DOB">DOB</abbr></th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Admin</td>
									<td>Irfan Maulana</td>
									<td>Jakarta, Indonesia</td>
									<td>August 12, 1995</td>
									<td>
										<a class="button is-primary">
											<span class="icon is-small"> <i class="fa fa-edit"></i> </span><span>Edit</span></a
										>
										<a class="button is-danger">
											<span class="icon is-small"> <i class="fa fa-trash-o"></i> </span><span>Delete</span></a
										>
									</td>
								</tr>
								<tr>
									<td>Admin</td>
									<td>Irfan Maulana 2</td>
									<td>Jakarta, Indonesia</td>
									<td>December 25, 1996</td>
									<td>
										<a class="button is-primary">
											<span class="icon is-small"> <i class="fa fa-edit"></i> </span><span>Edit</span></a
										>
										<a class="button is-danger">
											<span class="icon is-small"> <i class="fa fa-trash-o"></i> </span><span>Delete</span></a
										>
									</td>
								</tr>
								<tr>
									<td>Admin</td>
									<td>Irfan Maulana 3</td>
									<td>Jakarta, Indonesia</td>
									<td>January 20, 1998</td>
									<td>
										<a class="button is-primary">
											<span class="icon is-small"> <i class="fa fa-edit"></i> </span><span>Edit</span></a
										>
										<a class="button is-danger">
											<span class="icon is-small"> <i class="fa fa-trash-o"></i> </span><span>Delete</span></a
										>
									</td>
								</tr>
								<tr>
									<td>Admin</td>
									<td>Irfan Maulana 4</td>
									<td>Jakarta, Indonesia</td>
									<td>November 9, 1999</td>
									<td>
										<a class="button is-primary">
											<span class="icon is-small"> <i class="fa fa-edit"></i> </span><span>Edit</span></a
										>
										<a class="button is-danger">
											<span class="icon is-small"> <i class="fa fa-trash-o"></i> </span><span>Delete</span></a
										>
									</td>
								</tr>
								<tr>
									<td>Admin</td>
									<td>Irfan Maulana 5</td>
									<td>Jakarta, Indonesia</td>
									<td>January 11, 2001</td>
									<td>
										<a class="button is-primary">
											<span class="icon is-small"> <i class="fa fa-edit"></i> </span><span>Edit</span></a
										>
										<a class="button is-danger">
											<span class="icon is-small"> <i class="fa fa-trash-o"></i> </span><span>Delete</span></a
										>
									</td>
								</tr>
							</tbody>
						</table>

						<nav class="pagination is-centered" role="navigation" aria-label="pagination">
							<a class="pagination-previous">Previous</a>
							<a class="pagination-next">Next page</a>
							<ul class="pagination-list">
								<li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
								<li><span class="pagination-ellipsis">&hellip;</span></li>
								<li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
								<li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
								<li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
								<li><span class="pagination-ellipsis">&hellip;</span></li>
								<li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
							</ul>
						</nav>
					</div>
				</div>

				<% include /horizontalAds %>
				<% include /copyright %>
			</main>
    </div>

    <% include /jsonLd %>
  </body>
</html>
