<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="robots" content="index, follow" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=7">

  <meta name="language" content="en-EN" />
  <meta name="author" content="Irfan Maulana" />
  <title>Free Admin Dashboard Template Build with Bulma.io By Irfan Maulana</title>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">



	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-25065548-2"></script>
	<script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-25065548-2');</script>

  <!-- GOOGLE ANALYTICS AND FRIENDS -->
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-5442972248172818",
      enable_page_level_ads: true
    });
  </script>

</head>

<body>

  <header class="hero">
    <div class="hero-head">
      <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">

          <a class="navbar-item is--brand">
            <img class="navbar-brand-logo" src="/bulma-admin-dashboard-template/logo.png" alt="Bulma Admin Template logo">
          </a>
          <a class="navbar-item is-tab is-hidden-mobile is-active"><span class="icon is-medium"><i class="fa fa-home"></i></span>Home</a>
          <a class="navbar-item is-tab is-hidden-mobile" href="https://github.com/mazipan/bulma-admin-dashboard-template">Github</a>
          <a class="navbar-item is-tab is-hidden-mobile" href="https://mazipan.github.io/bulma-resume-template/">Resume Template</a>
          <a class="navbar-item is-tab is-hidden-mobile" href="#about">About</a>

          <button class="button navbar-burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
          </button>

        </div>


        <div class="navbar-menu navbar-end" id="navMenu">
          <a class="navbar-item is-tab is-hidden-tablet is-active">Home</a>
          <a class="navbar-item is-tab is-hidden-tablet" href="https://github.com/mazipan/bulma-admin-dashboard-template">Github</a>
          <a class="navbar-item is-tab is-hidden-tablet" href="https://mazipan.github.io/bulma-resume-template/">Resume Template</a>
          <a class="navbar-item is-tab is-hidden-tablet" href="#about">About</a>
          <a class="navbar-item nav-tag">
            <span class="icon is-small">
              <i class="fa fa-envelope-o"></i>
            </span>
            <span class="tag is-primary tag-notif">6</span>
          </a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="https://mazipan.space/">
              <figure class="image is-32x32" style="margin-right:.5em;">
                <img src="https://avatars1.githubusercontent.com/u/7221389?v=4&s=32">
              </figure>
              mazipan
            </a>

            <div class="navbar-dropdown is-right">
                <a class="navbar-item">
                  <span class="icon is-small">
                    <i class="fa fa-user-o"></i>
                  </span>
                  &nbsp; Profile
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  <span class="icon is-small">
                    <i class="fa fa-power-off"></i>
                  </span>
                  &nbsp; Logout
                </a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <div class="wrapper">
    <div class="columns">
      <aside class="column is-2 aside">
        <nav class="menu">
          <p class="menu-label">
            General
          </p>
          <ul class="menu-list">
            <li><a href="/bulma-admin-dashboard-template/"><span class="icon is-small"><i class="fa fa-tachometer"></i></span> Dashboard</a></li>
          </ul>
          <p class="menu-label">
            Administration
          </p>
          <ul class="menu-list">
            <li><a href="/bulma-admin-dashboard-template/forms.html"><span class="icon is-small"><i class="fa fa-pencil-square-o"></i></span> Forms</a></li>
            <li><a class="is-active" href="#"><span class="icon is-small"><i class="fa fa-desktop"></i></span> UI Elements</a></li>
            <li><a href="/bulma-admin-dashboard-template/tables.html"><span class="icon is-small"><i class="fa fa-table"></i></span> Tables</a></li>
            <li><a href="/bulma-admin-dashboard-template/presentations.html"><span class="icon is-small"><i class="fa fa-bar-chart"></i></span> Presentations</a></li>

            <li>
              <a class=""><i class="fa fa-cog"></i></span> Settings</a>
              <ul>
                <li><a>Members</a></li>
                <li><a>Plugins</a></li>
                <li><a>Add a member</a></li>
              </ul>
            </li>
          </ul>
          <p class="menu-label">
            Live On
          </p>
          <ul class="menu-list">
            <li><a><span class="icon is-small"><i class="fa fa-bug"></i></span> Additional Pages</a></li>
            <li><a><span class="icon is-small"><i class="fa fa-windows"></i></span> Extras</a></li>
            <li><a rel="noopener" target="_blank" href="https://mazipan.space/"><span class="icon is-small"><i class="fa fa-laptop"></i></span> Landing Page</a></li>
          </ul>
        </nav>
      </aside>

      <main class="column main">
        <nav class="breadcrumb is-small" aria-label="breadcrumbs">
          <ul>
            <li><a href="#">Home</a></li>
            <li class="is-active"><a href="#" aria-current="page">UI Elements</a></li>
          </ul>
        </nav>

        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <div class="title">UI Elements (<a href="http://bulma.io/documentation/elements/box/">read more</a>)</div>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">
              <button type="button" class="button is-small">
                March 8, 2017 - April 6, 2017
              </button>
            </div>
          </div>
        </div>

        <div class="columns is-multiline">
          <div class="container block is-clearfix">
            <h3>Button</h3>
            <div>
            <a class="button">Anchor</a>
            <button class="button">Button</button>
            <input class="button" type="submit" value="Submit input">
            <input class="button" type="reset" value="Reset input">
            </div>
          </div>

          <div class="container block is-clearfix">
            <div>
            <a class="button is-white">White</a>
            <a class="button is-light">Light</a>
            <a class="button is-dark">Dark</a>
            <a class="button is-black">Black</a>
            <a class="button is-link">Link</a>

            </div>
          </div>

          <div class="container block is-clearfix">
            <div>
            <a class="button is-primary">Primary</a>
            <a class="button is-info">Info</a>
            <a class="button is-success">Success</a>
            <a class="button is-warning">Warning</a>
            <a class="button is-danger">Danger</a>
            </div>
          </div>

          <div class="container block is-clearfix">
            <div>
            <a class="button is-small">Small</a>
            <a class="button">Normal</a>
            <a class="button is-medium">Medium</a>
            <a class="button is-large">Large</a>
            </div>
          </div>

          <div class="container block is-clearfix">
            <div>
            <a class="button is-outlined">Outlined</a>
            <a class="button is-primary is-outlined">Outlined</a>
            <a class="button is-info is-outlined">Outlined</a>
            <a class="button is-success is-outlined">Outlined</a>
            <a class="button is-danger is-outlined">Outlined</a>
            </div>
          </div>

          <div class="container block is-clearfix">
            <h3>Tag</h3>
            <div>
            <span class="tag is-black">Black</span>
            <span class="tag is-dark">Dark</span>
            <span class="tag is-light">Light</span>
            <span class="tag is-white">White</span>
            <span class="tag is-primary">Primary</span>
            <span class="tag is-info">Info</span>
            <span class="tag is-success">Success</span>
            <span class="tag is-warning">Warning</span>
            <span class="tag is-danger">Danger</span>
            </div>
          </div>

          <div class="container block is-clearfix">
            <h3>Icon</h3>
            <div>
            <span class="icon has-text-info">
                  <i class="fa fa-info-circle"></i>
                </span>
            <span class="icon has-text-success">
                  <i class="fa fa-check-square"></i>
                </span>
            <span class="icon has-text-warning">
                  <i class="fa fa-warning"></i>
                </span>
            <span class="icon has-text-danger">
                  <i class="fa fa-ban"></i>
                </span>
            </div>
          </div>

          <div class="container block is-clearfix">
            <h3>Image</h3>
            <figure class="image is-128x128">
              <img src="http://bulma.io/images/placeholders/256x256.png">
            </figure>
          </div>

          <div class="container block is-clearfix">
            <h3>Progress</h3>
            <progress class="progress is-primary" value="30" max="100">30%</progress>
            <progress class="progress is-info" value="45" max="100">45%</progress>
            <progress class="progress is-success" value="60" max="100">60%</progress>
            <progress class="progress is-warning" value="75" max="100">75%</progress>
            <progress class="progress is-danger" value="90" max="100">90%</progress>
          </div>

          <div class="container block is-clearfix">
            <h3>Notification</h3>
            <div class="notification is-primary">
              <button class="delete"></button> Primar lorem ipsum dolor sit amet, consectetur adipiscing elit lorem ipsum
              dolor. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus
              ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Sit amet,
              consectetur adipiscing elit
            </div>

            <div class="notification is-info">
              <button class="delete"></button> Info lorem ipsum dolor sit amet, consectetur adipiscing elit lorem ipsum dolor.
              <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex
              sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Sit amet, consectetur
              adipiscing elit
            </div>

            <div class="notification is-success">
              <button class="delete"></button> Success lorem ipsum dolor sit amet, consectetur adipiscing elit lorem ipsum
              dolor. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus
              ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Sit amet,
              consectetur adipiscing elit
            </div>

            <div class="notification is-warning">
              <button class="delete"></button> Warning lorem ipsum dolor sit amet, consectetur adipiscing elit lorem ipsum
              dolor. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus
              ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Sit amet,
              consectetur adipiscing elit
            </div>

            <div class="notification is-danger">
              <button class="delete"></button> Danger lorem ipsum dolor sit amet, consectetur adipiscing elit lorem ipsum
              dolor. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus
              ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Sit amet,
              consectetur adipiscing elit
            </div>
          </div>

        </div>
      </main>
    </div>
  </div>



  <!-- GOOGLE ANALYTICS AND FRIENDS -->
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5442972248172818" data-ad-slot="1487770485" data-ad-format="auto"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  <script type="application/ld+json">{"@context":"http://schema.org","@type":"WebSite","url":"https://www.mazipan.github.io/","name":"Irfan Maulana | Front End Developer","author":"Irfan Maulana","image":"http://mazipan.github.io/images/irfan-maulana.jpg","description":"Irfan Maulana is Front End Developer from Indonesia - Man that craft some code to build a beauty and readable code, experienced in web and desktop technology.","sameAs":["https://www.facebook.com/mazipanneh","https://instagram.com/maz_ipan","https://twitter.com/Maz_Ipan","https://id.linkedin.com/in/irfanmaulanamazipan","https://www.slideshare.net/IrfanMaulana21","https://github.com/mazipan"]}</script> <script type="application/ld+json">{"@context":"http://schema.org","@type":"Person","email":"mailto:mazipanneh@gmail.com","image":"http://mazipan.github.io/images/irfan-maulana.jpg","jobTitle":"Software Engineer","name":"Irfan Maulana","url":"https://www.mazipan.github.io/","sameAs":["https://www.facebook.com/mazipanneh","https://instagram.com/maz_ipan","https://twitter.com/Maz_Ipan","https://id.linkedin.com/in/irfanmaulanamazipan","https://www.slideshare.net/IrfanMaulana21","https://github.com/mazipan"]}</script>
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{
      "@type": "ListItem",
      "position": 1,
      "item": {
        "@id": "http://mazipan.github.io/",
        "name": "Home",
        "image": "http://mazipan.github.io/images/irfan-maulana.jpg"
      }
    }, {
      "@type": "ListItem",
      "position": 2,
      "item": {
        "@id": "http://mazipan.github.io/demo/",
        "name": "Demo",
        "image": "http://mazipan.github.io/images/irfan-maulana.jpg"
      }
    }, {
      "@type": "ListItem",
      "position": 3,
      "item": {
        "@id": "http://mazipan.github.io/bulma-admin-dashboard-template",
        "name": "bulma-admin-dashboard-template",
        "image": "https://mazipan.github.io/bulma-admin-dashboard-template/logo.png"
      }
    }]
  }
  </script>
</body>

</html>
